* {
    background-color: #151515;
    color: white;
    font-family: Roboto, sans-serif;
}

#title {
    display: inline-block;
    max-width: 1920px;
    text-align: center;
    font-size: 30px;
    position: relative;
    background-color: #3c415c;
    height: 80px;
    line-height: 80px;
    top: 0;
    margin: 0;
    z-index: 9;
}
body {
    max-width: 1920px;
}
body nav a[href] {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 10px;
    top: 0;
    left: 1133px;
}

article {
    margin: 20px 100px;
    position: relative;
    top: 100px;
    width: 500px;
}

article h2 {
    width: 150px;
    color: white;
    padding: 0;
    margin-right: 10;
}

article p {
    width: 500px;
    color: white;
}

#footer {
    position: relative;
    text-align: center;
    z-index: 1;
    width: 200px;
    left: 670px;
}

#footer p {
    width: 100px;
}

h2 {
    width: 1366px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    position: relative;
    background-image: url(/resources/codingImg.jpg);
}
